.title{
  font-size: 2.9em;
}
.bajada{
  font-size: 1.2em;
}
.image{
  width: 12em;
  height: 12em;
  cursor: pointer;
}
.dropZoneImage{
  border-color: transparent;
  border-style: none;
  display: none;
}
.capitalize{
  text-transform: capitalize;
}
.calle{
  composes: capitalize;
}
.ciudad{
  composes: capitalize;
}
.pais{
  composes: capitalize;
}
.no-padding-left{
  padding-left: 0px !important;
}
