.pin {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;
  border: 5px;
  border-style:  solid;
  border-color: #f44336;
  border-radius: 40px;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 17px;
  font-weight: bold;
  padding: 4px;
  transition: border-color 500ms;
  transition: border-style 500ms;
  transition: border-width 500ms;
}

.pin-hover{
  border: 5px solid #3f51b5;
  color: #f44336;
  z-index: 10;
}

.pin-hover-overlay{
  display: block !important;
  z-index: 11 !important;
  height: 200px !important;
  width: 200px !important;
}
.pin-selected{
  border: 5px solid #06A119;
  color: #f44336;
}
