.container{
  background-color: white;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding:10px;
}
.title{
  display:flex;
  flex-flow:row;
  justify-content: space-between;
}
.list-wrapper{
  flex: 2 ;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y:auto;
}
.list{
  background-color: white;
}

.text{
  align-content:stretch;
  font-size: 2em;
  margin: .67em 0;
}
.button{
  align-content:stretch;
}
.item{
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-content: center;
  max-width: 70vw;
  min-width: 40vw;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:10px;
  padding-left:10px;
  cursor: pointer;
  color:black;
  transition: background-color 500ms;
}
.item-hovered{
  background-color: rgba(9, 8, 8, 0.31);
}
.item-selected{
  background-color: rgba(1,1,1,0.1)
}

.item-number{
  font-size: 1em;
  margin-right: 10px;
  transition: color 500ms;
}
.item-text{
  font-size: 1.4em;
  transition: color 500ms;
}

.item-link{
  margin-left: 10px;
  font-size: 1.3em;
}
.item-link-action{
  vertical-align: middle;
}
