@import '../styles/core.scss';
.container{
  background-color: $navbar-default-bg;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-top:50px;
}
.title{
  display:flex;
  flex-flow:row;
  justify-content: space-between;
}
.list-wrapper{
  flex: 2 ;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y:auto;
}
.list{
  background-color: $navbar-default-bg;
}

.text{
  align-content:stretch;
  font-size: 2em;
  margin: .67em 0;
}
.button{
  align-content:stretch;
}
.item{
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-content: center;
  max-width: 70vw;
  min-width: 40vw;
  padding: $list-group-item-padding;
  cursor: pointer;
  color:black;
  transition: background-color 500ms;
}
.item-hovered{
  background-color: $list-group-link-hover-bg;
  color:            $navbar-default-link-hover-color;
}
.item-selected{
  background-color: $navbar-default-link-active-bg;
  color:            $navbar-default-link-active-color;
}

.item-number{
  font-size: 1em;
  margin-right: 10px;
  transition: color 500ms;
}
.item-text{
  font-size: 1.4em;
  transition: color 500ms;
}

.item-link{
  margin-left: 10px;
  font-size: 1.3em;
}
.item-link-action{
  vertical-align: middle;
}
