/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/
@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25% !important;
  }
}
.modal_container{
  display:flex;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:25px;

}

.show_in_modal{
  z-index: 1060 !important !important !important;
}

.omb_authTitle {
  text-align: center !important;
  line-height: 300% !important;
}
.omb_socialLink {
  color: white !important;
  // In yourUse @body-bg
  opacity: 0.9 !important;
  &:hover {
    color: white !important;
    opacity: 1 !important;
  }
}
.omb_btn-facebook {
  background-color: #3b5998 !important;
}
.omb_btn-twitter {
  background-color: #00aced !important;
}
.omb_btn-google {
  background-color: #c32f10 !important;
}
.omb_loginOr {
  position: relative !important;
  font-size: 1.5em !important;
  color: #aaa !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  .omb_hrOr {
    background-color: #cdcdcd !important;
    margin-top: 0 !important !important;
    margin-bottom: 0 !important !important;
  }
  .omb_spanOr {
    display: block !important;
    background-color: white !important;
    margin-bottom: 0.3em !important;
    text-align: center !important;
  }
  .omb_spanOr_sub{
    font-size: 0.8em;
    display: block !important;
    margin-bottom: 1em !important;
    text-align: center !important;
    margin-bottom: 1em !important;
  }
  .omb_loginForm {
    .input-group.i {
      width: 2em !important;
    }
    .help-block {
      color: red !important;
    }
  }
}

@media (min-width: 768px) {
  .omb_forgotPwd {
    text-align: center !important;
    margin-top: 25px !important;
  }
}
